<div class="overflow-auto max-h-screen md:max-h-full">
  <mat-stepper orientation="vertical"
               [selectedIndex]="isPathFinished ? stakingTiers.length - 1 : unlockedTiers!">
    <mat-step *ngFor="let stakingTier of stakingTiers; index as i"
              [label]="stakingTier.amount + ' ' + ('Resources.' + (stakingTier.type | titlecase) | translate) + ' (' + getDurationString(stakingTier.duration) + ')'"
              [completed]="unlockedTiers! - 1 >= i">
      <div class="flex flex-col">
        <div *ngIf="stakingTier.requirement" class="flex flex-col">
          <span>{{'Staking.Requires' | translate}}: </span>
          <span>- {{('Resources.' + stakingTier.requirement.type | translate) + ': ' + stakingTier.requirement.amount.toLocaleString()}}</span>
        </div>
        <div *ngIf="stakingTier.rewards.length" class="flex flex-col">
          <span>{{'Staking.Rewards' | translate}}: </span>
          <span *ngFor="let reward of stakingTier.rewards" class="flex items-center h-8">
              - {{reward.amount.toLocaleString()}} <img src="./assets/Placeholder/{{reward.type.toLowerCase()}}.png"
                                                        class="px-1 w-8"
                                                        [alt]="'Resources.' + (reward.type | titlecase) | translate"
                                                        [matTooltip]="'Resources.' + (reward.type | titlecase)  | translate"/>
        </span>
        </div>
        <div *ngIf="stakingTier.unlocks.length" class="flex flex-col">
          <span>{{'Staking.CBKUnlocks' | translate}}: </span>
          <span *ngFor="let unlock of stakingTier.unlocks" class="flex items-center h-8">
          - {{unlock.amount.toLocaleString()}} <img src="./assets/Placeholder/{{unlock.type.toLowerCase()}}.png"
                                                    class="px-1 w-8"
                                                    [alt]="'Resources.' + (unlock.type | titlecase) | translate"
                                                    [matTooltip]="'Resources.' +  (unlock.type | titlecase) | translate"/>
        </span>
        </div>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{index + 1}}
    </ng-template>
  </mat-stepper>
  <span *ngIf="isPathFinished">{{'Staking.StakePathFinished' | translate}}</span>
  <button [disabled]="!unlockedTiers || !currentStake" mat-raised-button
          (click)="isPathFinished ? unstakeWithoutConfirmation() : openUnstakeConfirmationDialog()"
          [color]="isPathFinished ? 'primary' : 'warn'">{{'Staking.Unstake' | translate}}
  </button>
</div>
