<div *ngIf="building" style="display: flex; max-width: 100%; max-height: 100%; margin: 2rem;">
  <div style="flex: 1;">
    <img style="max-width: 100%; max-height: 100%;" [src]="building.image"
         [alt]="getBuildingTypeName(building.type)">
  </div>
  <div style="display: flex; flex-direction: column; flex: 2;">
    <p class="building-name">{{ getBuildingTypeName(building.type) }}</p>
    <span class="building-level">Level: {{ building.level }}</span>
    <p class="building-level">Max level: {{building.maxLevel}}</p>
    <div *ngIf="barracksRequired">
      <p class="building-requirements">Building requirements: </p>
      <p class="secondary-text">{{getBuildingTypeName(getBarracksType)}}
        (Level: {{barracksRequired}})</p>
    </div>
    <div *ngIf="totalCharactersStaked">
      <p class="building-requirements">Total staked:</p>
      <p class="secondary-text">{{totalCharactersStaked}} Characters</p>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let character of characters" [value]="character">
        {{character}}
      </mat-option>
    </mat-autocomplete>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Choose character</mat-label>
      <input matInput type="text" [(ngModel)]="selectedCharacter" [matAutocomplete]="auto">
      <button *ngIf="selectedCharacter" matSuffix mat-icon-button aria-label="Clear"
              (click)="selectedCharacter=undefined">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button [disabled]="!selectedCharacter || !isBarracksRequirementMet" mat-raised-button
            class="btn button-stake"
            (click)="onStake()">
      <ng-container
        [ngTemplateOutlet]="isStakeInProgress ? stakeInProgress : isBarracksRequirementMet ? stake : upgradeBarracks"></ng-container>
      <ng-template #stakeInProgress style="color: #43300D">
        {{ timeLeft }}
      </ng-template>
      <ng-template #stake style="color: #43300D">
        Stake <span *ngIf="charactersRequired"> ({{ charactersRequired }} Character)</span>
      </ng-template>
      <ng-template #upgradeBarracks>
        You need to upgrade Barracks first
      </ng-template>
    </button>
  </div>
  <div style="flex: 1;">
    <mat-stepper orientation="vertical">
      <mat-step *ngFor="let characterStakingTier of characterStakingTiers"
                [label]="characterStakingTier.amount + ' Characters'">
        <div style="display: flex; flex-direction: column;">
          <span>Requires: </span>
          <span>- Level {{characterStakingTier.requirement.amount + ' ' + characterStakingTier.requirement.type}}</span>
          <span>Rewards: </span>
          <div style="display: flex; flex-direction: column;">
            <span *ngFor="let reward of characterStakingTier.rewards">
              - {{reward.amount}} {{reward.type}}
            </span>
          </div>
          <span>CBK Unlocks: </span>
          <div style="display: flex; flex-direction: column;">
            <span *ngFor="let unlock of characterStakingTier.unlocks">
              - {{unlock.amount}} {{unlock.type}}
            </span>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
