<div class="stake-tab">
  <div class="building-image-container">
    <img class="w-full" [src]="building.image" [alt]="getBuildingTypeName(building.type)">
  </div>
  <div class="staking-container">
    <p class="building-name">{{ getBuildingTypeName(building.type) }}</p>
    <span class="building-level">Level: {{ building.level }}</span>
    <p class="building-level">Max level: {{building.maxLevel}}</p>
    <div *ngIf="barracksRequired">
      <p class="building-requirements">Requirements: </p>
      <p class="secondary-text">{{getBuildingTypeName(getBarracksType)}} (Level: {{barracksRequired}})</p>
    </div>
    <div *ngIf="totalCharactersStaked">
      <p class="building-requirements">Total staked:</p>
      <p class="secondary-text">{{totalCharactersStaked}} Characters</p>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let character of filteredOptions | async" [value]="character">
        {{character}}
      </mat-option>
    </mat-autocomplete>
    <mat-form-field appearance="fill">
      <mat-label>Choose character</mat-label>
      <input matInput type="text" [formControl]="selectedCharacter" [matAutocomplete]="auto">
      <button *ngIf="selectedCharacter.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="selectedCharacter.setValue(undefined)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button [disabled]="!selectedCharacter.value || !isBarracksRequirementMet" mat-raised-button
            class="btn button-stake"
            (click)="onStake()">
      <ng-container
        [ngTemplateOutlet]="isStakeInProgress ? stakeInProgress : isBarracksRequirementMet ? stake : upgradeBarracks"></ng-container>
      <ng-template #stakeInProgress style="color: #43300D">
        {{ timeLeft }}
      </ng-template>
      <ng-template #stake style="color: #43300D">
        Stake <span *ngIf="charactersRequired"> ({{ charactersRequired }} Character)</span>
      </ng-template>
      <ng-template #upgradeBarracks>
        You need to upgrade Barracks first
      </ng-template>
    </button>
    <div *ngIf="nextStakingTier">
      <p class="building-requirements">Next rewards/unlocks: </p>
      <p class="secondary-text">Rewards:
        <span *ngFor="let reward of nextStakingTier.rewards" class="flex items-center h-8 justify-center md:justify-start">
              - {{reward.amount}} <img src="./assets/Placeholder/{{reward.type.toLowerCase()}}.png" class="px-1 w-8"
                                       [alt]="reward.type" [matTooltip]="reward.type"/>
        </span>
      </p>
      <p class="secondary-text">Unlocks:
        <span *ngFor="let unlock of nextStakingTier.unlocks" class="flex items-center h-8 justify-center md:justify-start">
          - {{unlock.amount}} <img src="./assets/Placeholder/{{unlock.type.toLowerCase()}}.png" class="px-1 w-8"
                                   [alt]="unlock.type" [matTooltip]="unlock.type"/>
        </span>
      </p>
    </div>
  </div>
  <div class="flex-1">
    <app-staking-tiers-stepper [stakingTiers]="characterStakingTiers"
                               [unlockedTiers]="unlockedTiers!"></app-staking-tiers-stepper>
  </div>
</div>
