.cbk-header {
  height: 5vh;
  background: #000C25;
  //border-top: 1px solid #424A59;
  border-bottom: 1px solid #424A59;
  border-right: 1px solid #424A59;
  display: flex;
  justify-content: space-between;
}

.cbk-logo-container {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #464D53;
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  width: 242px;
  height: 78px;
}

.cbk-logo-container div {
  position: absolute;
  background: #000C25;
  width: 240px; /* container height - (border thickness * 2) */
  height: 76px; /* container height - (border thickness * 2) */
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cbk-logo {
  padding-right: 3rem;
}
