<div class="cbk-header">
  <div class="cbk-logo-container">
    <div>
      <img src="./assets/CBK Logo.png" class="cbk-logo" alt="CBK Logo"/>
    </div>
  </div>
  <div *ngIf="land" class="flex flex-wrap items-center w-full justify-around">
    <app-resource-pill [balance]="kingBalance" image="./assets/Placeholder/king.png"
                       [tooltip]="'King'"></app-resource-pill>
    <app-resource-pill [balance]="skillBalance" image="./assets/Placeholder/skill.png"
                       [tooltip]="'Skill'"></app-resource-pill>
    <app-resource-pill [balance]="weaponsBalance" image="./assets/Placeholder/weapon.png"
                       [tooltip]="'Weapons'"></app-resource-pill>
    <app-resource-pill [balance]="charactersBalance" image="./assets/Placeholder/character.png"
                       [tooltip]="'Characters'"></app-resource-pill>
    <app-resource-pill [balance]="clayBalance" image="./assets/Placeholder/clay.png"
                       [tooltip]="'Clay'"></app-resource-pill>
    <app-resource-pill [balance]="woodBalance" image="./assets/Placeholder/wood.png"
                       [tooltip]="'Wood'"></app-resource-pill>
    <app-resource-pill [balance]="stoneBalance" image="./assets/Placeholder/stone.png"
                       [tooltip]="'Stone'"></app-resource-pill>
    <!--    <div class="text-white">-->
    <!--      <ng-container [ngSwitch]="land.tier">-->
    <!--        <div *ngSwitchCase="1">-->
    <!--          <img src="assets/Land/t1.png" class="w-28" alt="">-->
    <!--        </div>-->
    <!--        <div *ngSwitchCase="2">-->
    <!--          <img src="assets/Land/t2.png" class="w-28" alt="">-->
    <!--        </div>-->
    <!--        <div *ngSwitchCase="3">-->
    <!--          <img src="assets/Land/t3.png" class="w-28" alt="">-->
    <!--        </div>-->
    <!--        <div *ngSwitchDefault>-->
    <!--          <img src="assets/Land/t1.png" class="w-28" alt="">-->
    <!--        </div>-->
    <!--      </ng-container>-->
    <!--      <span>ID: {{land.id}}</span>-->
    <!--    </div>-->
  </div>
  <div class="text-white flex items-center">
    <span>Logged in as: {{formattedWalletAddress}}</span>
  </div>
</div>
