.building-name {
  font: normal normal bold 25px/32px Trajan;
  color: #EDCD90;
}

.building-level {
  font: normal normal normal 16px/25px Roboto;
  color: #7F8693;
}

.building-requirements {
  font: normal normal normal 18px/25px Roboto;
  color: #EDCD90;
}

.secondary-text {
  font: normal normal normal 16px/21px Roboto;
  color: #BDBCBF;
}

.button-stake {
  background: transparent url('../../../assets/Village/Button.png') 0 0 no-repeat padding-box;
}
