<ng-template [ngIf]="building">
  <mat-tab-group dynamicHeight mat-align-tabs="center" style="width:100%; height: 100%;">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="building-name">KING</span>
      </ng-template>
      <app-king-staking [building]="building"></app-king-staking>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="building-name">SKILL</span>
      </ng-template>
      <app-skill-staking [building]="building"></app-skill-staking>
    </mat-tab>
    <mat-tab *ngIf="isBarracks" [disabled]="building.level === 0">
      <ng-template mat-tab-label>
        <span class="building-name">CHARACTERS</span>
      </ng-template>
      <app-character-staking [building]="building"></app-character-staking>
    </mat-tab>
  </mat-tab-group>
</ng-template>
