<ng-template [ngIf]="!isInitializing" [ngIfElse]="initializing">
  <div class="stake-tab">
    <div class="building-image-container">
      <img class="w-full" [src]="building.image"
           [alt]="'BuildingTypes.' + getBuildingTypeName(building.type) | translate">
    </div>
    <div class="staking-container">
      <p class="building-name">{{ 'BuildingTypes.' + getBuildingTypeName(building.type) | translate }}</p>
      <div class="level-container">
        <span class="building-level">{{'Common.Level' | translate}}: {{ building.level }} </span>
        <mat-icon class="arrow-icon" *ngIf="!isMaxLevel">keyboard_arrow_right</mat-icon>
        <span class="building-level" *ngIf="!isMaxLevel"> {{ building.level + 1 }} </span>
      </div>
      <p class="building-level">{{'Common.MaxLevel' | translate}}: {{building.maxLevel}}</p>
      <div *ngIf="buildingRequirements">
        <p class="building-requirements">{{'Staking.Requirements' | translate}}: </p>
        <p class="secondary-text"
           *ngIf="buildingRequirements.building">{{'BuildingTypes.' + getBuildingTypeName(buildingRequirements.building) | translate}}
          ({{'Common.Level' | translate}}: {{buildingRequirements.level}})</p>
      </div>
      <div *ngIf="totalKingStaked">
        <p class="building-requirements">{{'Staking.TotalStaked' | translate}}:</p>
        <p class="secondary-text">{{totalKingStaked}} {{'Resources.King' | translate | uppercase}}</p>
      </div>
      <button *ngIf="!isPathFinished" [disabled]="isLoading || isMaxLevel || isStakeInProgress || !building.canUpgrade"
              mat-raised-button
              class="btn button-stake"
              (click)="onStake()">
        <ng-container
          [ngTemplateOutlet]="isLoading ? loading : isMaxLevel ? maxLevel : isStakeInProgress ? stakeInProgress : isBuilt ? upgrade : build"></ng-container>
        <ng-template #loading>
          <span class="flex items-center justify-center">
            <mat-progress-spinner mode="indeterminate" [diameter]="15"></mat-progress-spinner>
            {{'Common.Loading' | translate}}
          </span>
        </ng-template>
        <ng-template #maxLevel>
          {{'Staking.MaxLevelReached' | translate}}
        </ng-template>
        <ng-template #stakeInProgress>
          <span appTimestampCountdown (isFinished)="loadData()" [timestamp]="stakeCompleteTimestamp || 0"></span>
        </ng-template>
        <ng-template #upgrade>
          {{'Staking.Upgrade' | translate}} <span
          *ngIf="kingRequired"> ({{ kingRequired }} {{'Resources.King' | translate | uppercase}})</span>
        </ng-template>
        <ng-template #build>
          {{'Staking.Build' | translate}} <span
          *ngIf="kingRequired"> ({{ kingRequired }} {{'Resources.King' | translate | uppercase}})</span>
        </ng-template>
      </button>
      <button *ngIf="canClaim" [disabled]="isLoading" mat-raised-button class="btn button-stake" (click)="onClaim()">
        {{'Staking.Claim' | translate}}
      </button>
      <app-next-tier-unlocks *ngIf="nextStakingTier" [nextStakingTier]="nextStakingTier"></app-next-tier-unlocks>
    </div>
    <app-staking-tiers-stepper class="flex-1" [stakingTiers]="kingStakingTiers" [unlockedTiers]="unlockedTiers!"
                               [currentStake]="currentStake" [isPathFinished]="isPathFinished"
                               (onUnstake)="onUnstake()"></app-staking-tiers-stepper>
  </div>
</ng-template>
<ng-template #initializing>
  <div class="flex items-center justify-center h-full">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
