<app-header></app-header>
<div *ngIf="!isConnected; else connectedBlock" class="buttons-container">
  Connect wallet to access the app
</div>
<ng-template #connectedBlock>
  You are connected!
  <div *ngIf="selectedLand; else landNotSelectedBlock">
    You selected:
    <div>
      <ng-container [ngSwitch]="selectedLand.tier">
        <div *ngSwitchCase="1">
          <img src="assets/Land/t1.png" class="w-64" alt="">
        </div>
        <div *ngSwitchCase="2">
          <img src="assets/Land/t2.png" class="w-64" alt="">
        </div>
        <div *ngSwitchCase="3">
          <img src="assets/Land/t3.png" class="w-64" alt="">
        </div>
        <div *ngSwitchDefault>
          <img src="assets/Land/t1.png" class="w-64" alt="">
        </div>
      </ng-container>
      <div class="p-3">
        <ng-container>
          <div>
            {{ 'Common.ID' }} : {{ selectedLand.id }}
          </div>
          <div>
            {{ 'Common.Tier'}} : {{ selectedLand.tier }}
          </div>
          <div>
            {{ 'Common.ChunkId'}} : {{ selectedLand.chunkID }}
          </div>
        </ng-container>
      </div>
    </div>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickUnstake()">
      {{ 'Common.Unstake' }}
    </button>
    <button mat-raised-button class="btn btn-primary w-100" (click)="openKingVaultDialog()">
      King rewards vault
    </button>
    <div>
      <h1>{{ 'King' }}</h1>
      <h2>King needed to upgrade: {{ king }}</h2>
      <div class="flex flex-wrap">
        <app-clickable-building *ngFor="let building of buildings" [building]="building" (onLoadData)="loadData()"
                                [stakeCompleteTimestamp]="stakeCompleteTimestamp"></app-clickable-building>
      </div>
    </div>
    <!--    <img src="assets/Village/village_background.png" alt="village" class="village-view">-->
  </div>
  <ng-template #landNotSelectedBlock>
    <div *ngIf="lands.length; else noLands" class="lands-display">
      <app-select-land *ngFor="let land of lands" [land]="land" (selectedLand)="onSelect($event)"></app-select-land>
    </div>
    <ng-template #noLands>
      <div>
        You do not have lands available
      </div>
    </ng-template>
  </ng-template>
</ng-template>
