<app-header></app-header>
<div *ngIf="!isConnected; else connectedBlock" class="buttons-container">
  {{'App.ConnectWalletToAccessTheApp' | translate}}
</div>
<ng-template #connectedBlock>
  <ng-container
    [ngTemplateOutlet]="isLoading ? loading : selectedLand ? villageView : lands.length ? landNotSelected : noLands"></ng-container>
  <ng-template #loading>
      <span class="flex items-center justify-center">
        <mat-progress-spinner [diameter]="15" mode="indeterminate"></mat-progress-spinner>
        {{'Common.Loading' | translate}}
      </span>
  </ng-template>
  <ng-template #villageView>
    <mat-drawer-container class="drawer-container">
      <mat-drawer #drawer class="resources-sidenav" mode="over">
        <div class="flex flex-col gap-5 mx-2">
          <app-resource-pill [balance]="kingBalance" image="./assets/Placeholder/king.png"
                             [tooltip]="'Resources.King' | translate"></app-resource-pill>
          <app-resource-pill [balance]="skillBalance" image="./assets/Placeholder/skill.png"
                             [tooltip]="'Resources.Skill' | translate"></app-resource-pill>
          <app-resource-pill [balance]="weaponsBalance" image="./assets/Placeholder/weapon.png"
                             [tooltip]="'Resources.Weapons' | translate"></app-resource-pill>
          <app-resource-pill [balance]="charactersBalance" image="./assets/Placeholder/character.png"
                             [tooltip]="'Resources.Characters' | translate"></app-resource-pill>
          <app-resource-pill [balance]="clayBalance" [unlocks]="clayUnlocksBalance" image="./assets/Placeholder/clay.png"
                             [tooltip]="'Resources.Clay' | translate"></app-resource-pill>
          <app-resource-pill [balance]="woodBalance" [unlocks]="woodUnlocksBalance" image="./assets/Placeholder/wood.png"
                             [tooltip]="'Resources.Wood' | translate"></app-resource-pill>
          <app-resource-pill [balance]="stoneBalance" [unlocks]="stoneUnlocksBalance" image="./assets/Placeholder/stone.png"
                             [tooltip]="'Resources.Stone' | translate"></app-resource-pill>
          <app-resource-pill [balance]="mercenaryBalance" [unlocks]="mercenaryUnlocksBalance" image="./assets/Placeholder/mercenary.png"
                             [tooltip]="'Resources.Mercenary' | translate"></app-resource-pill>
          <app-resource-pill [balance]="spearmanBalance" [unlocks]="spearmanUnlocksBalance" image="./assets/Placeholder/spearman.png"
                             [tooltip]="'Resources.Spearman' | translate"></app-resource-pill>
          <app-resource-pill [balance]="mageBalance" [unlocks]="mageUnlocksBalance" image="./assets/Placeholder/mage.png"
                             [tooltip]="'Resources.Mage' | translate"></app-resource-pill>
          <app-resource-pill [balance]="archerBalance" [unlocks]="archerUnlocksBalance" image="./assets/Placeholder/archer.png"
                             [tooltip]="'Resources.Archer' | translate"></app-resource-pill>
          <app-resource-pill [balance]="paladinBalance" [unlocks]="paladinUnlocksBalance" image="./assets/Placeholder/paladin.png"
                             [tooltip]="'Resources.Paladin' | translate"></app-resource-pill>
          <app-resource-pill [balance]="spyBalance" [unlocks]="spyUnlocksBalance" image="./assets/Placeholder/spy.png"
                             [tooltip]="'Resources.Spy' | translate"></app-resource-pill>
        </div>
      </mat-drawer>
      <drag-scroll style="width: 100%; height: 100%">
        <div class="flex flex-col items-start top-0 left-0 absolute z-10 w-40 md:w-64 p-2 gap-1">
          <div class="flex pt-10 md:pt-2">
            <div class="relative">
              <img src="assets/Land/t{{selectedLand!.tier}}.png"
                   [alt]="'App.LandTier' | translate:{tier: selectedLand!.tier}">
              <div class="absolute top-5 right-5 text-white flex flex-col">
                <span>{{'Common.Id' | translate}}: {{selectedLand!.id}}</span>
                <span>{{'Common.ChunkId' | translate}}: {{selectedLand!.chunkID}}</span>
                <span>{{'Common.Tier' | translate}}: {{selectedLand!.tier}}</span>
              </div>
              <div class="absolute left-5 bottom-5">
                <button mat-raised-button
                        (click)="allStakePathsFinished ? onClickUnstake() : openUnstakeConfirmationDialog()"
                        [color]="allStakePathsFinished ? 'primary' : 'warn'">{{'Actions.Unstake' | translate}}
                </button>
              </div>
            </div>
          </div>
          <!--        <span class="text-white whitespace-normal">King needed to upgrade a building: {{ king }}</span>-->
          <button mat-raised-button class="btn btn-primary w-100" (click)="openKingVaultDialog()">
            {{'App.KingRewardsVault' | translate}}
          </button>
          <button mat-raised-button (click)="drawer.toggle()">
            {{'App.ResourcesAndArmy' | translate}}
          </button>
          <div class="text-white">
            <p *ngIf="kingStakeCompleteTimestamp">{{'App.KingStaking' | translate}}:
              <span appTimestampCountdown (isFinished)="loadData()"
                    [timestamp]="kingStakeCompleteTimestamp || 0"></span></p>
            <p *ngIf="skillStakeCompleteTimestamp">{{'App.SkillStaking' | translate}}:
              <span appTimestampCountdown (isFinished)="loadData()"
                    [timestamp]="skillStakeCompleteTimestamp || 0"></span></p>
            <p *ngIf="weaponsStakeCompleteTimestamp">{{'App.WeaponsStaking' | translate}}:
              <span appTimestampCountdown (isFinished)="loadData()"
                    [timestamp]="weaponsStakeCompleteTimestamp || 0"></span></p>
            <p *ngIf="charactersStakeCompleteTimestamp">{{'App.CharactersStaking' | translate}}:
              <span appTimestampCountdown (isFinished)="loadData()"
                    [timestamp]="charactersStakeCompleteTimestamp || 0"></span></p>
          </div>
        </div>
        <div class="village">
          <div [style.opacity]="isWallConstructed ? 1 : 0.25" class="flooring">
          </div>
          <app-clickable-building *ngFor="let building of buildings" [building]="building" (onLoadData)="loadData()"
                                  [stakeCompleteTimestamp]="kingStakeCompleteTimestamp"></app-clickable-building>
        </div>
      </drag-scroll>
    </mat-drawer-container>
  </ng-template>
  <ng-template #landNotSelected>
    <div *ngIf="lands.length; else noLands" class="flex justify-center flex-wrap">
      <app-select-land *ngFor="let land of lands" [land]="land" (selectedLand)="onSelect($event)"></app-select-land>
    </div>
  </ng-template>
  <ng-template #noLands>
    <div class="flex flex-col items-center text-2xl mt-8 text-white text-center">
      <p>{{'App.NoLands' | translate}}</p>
      <p class="pt-8">{{'App.IfYouHaveLandStakedYouNeedToUnstakeInOrderToPlayVillageBuilder' | translate}}</p>
      <a class="building-name" href="https://app.cryptoblades.io/#/stake?chain=BNB" target="_blank">>CryptoBlades Staking<</a>
      <p class="pt-8">{{'App.IfYouDoNotOwnLandYouCanPurchaseItInBazaarSkillShop' | translate}}</p>
      <a class="building-name" href="https://bazaar.market/buy/skillshop" target="_blank">>Bazaar<</a>
      <p class="pt-8">{{'App.YouNeedLandInOrderToPlayVillageBuilder' | translate}}</p>
    </div>
  </ng-template>
</ng-template>
