.buttons-container {
  display: flex;
  justify-content: center
}

.village-view {
  width: 100%;
  height: 100%;
}

.village-view-container {
  width: 2560px;
  height: 93vh;
  position: relative;
}

.village {
  object-fit: cover;
  position: relative;
  width: 2160px;
  height: 1230px;
  background-size: cover;
  background-image: url('~src/assets/Village/city_blank.jpg');
}

.flooring {
  top: 306px;
  left: 560px;
  width: 1200px;
  height: 700px;
  position: absolute;
  background-size: cover;
  background-image: url('~src/assets/Village/flooring.png');
}

.buildings-container {
  position: absolute;
  width: 2560px;
  height: 1413px;
  top: 0;
  left: 0;
}

.resources-sidenav {
  background-color: #0D142A;
  @apply pt-16 md:pt-5
}

.drawer-container {
  height: 95vh;
}
