<app-header></app-header>
<div *ngIf="!isConnected; else connectedBlock" class="buttons-container">
  <button mat-raised-button (click)="connectMetamask()">Connect Wallet</button>
</div>
<ng-template #connectedBlock>
  You are connected!
  <div *ngIf="selectedLand; else landNotSelectedBlock">
    You selected:
    <div class="p-3">
      <ng-container>
        <div>
          {{ 'Common.ID' }} : {{ selectedLand.id }}
        </div>
        <div>
          {{ 'Common.Tier'}} : {{ selectedLand.tier }}
        </div>
        <div>
          {{ 'Common.ChunkId'}} : {{ selectedLand.chunkID }}
        </div>
      </ng-container>
    </div>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickUnstake()">
      {{ 'Common.Unstake' }}
    </button>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickFetch()">
      {{ 'Common.FetchChars' }}
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput type="text" [(ngModel)]="charactersToStake">
    </mat-form-field>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickStake()">
      {{ 'Common.StakeChar' }}
    </button>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickFetchWeap()">
      {{ 'Common.FetchWeaps' }}
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput type="text" [(ngModel)]="weaponsToStake">
    </mat-form-field>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickStakeWeap()">
      {{ 'Common.StakeWeap' }}
    </button>
    <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickFetchKing()">
      {{ 'Common.FetchKing' }}
    </button>
    <div>
      <h1>{{ 'Common.King' }}</h1>
      <h2>King needed to upgrade: {{ king }}</h2>
      <div style="display: flex;">
        <div *ngFor="let building of buildings" style="border-style: solid;">
          <h4>{{getBuildingTypeName(building.type)}}</h4>
          <h4>{{ building.level }}</h4>
          <h4 *ngIf="building.upgrading">{{kingTimeLeft}}</h4>
          <button *ngIf="!kingTimeLeft && building.canUpgrade" mat-raised-button class="btn btn-secondary w-100"
                  (click)="onClickStakeKing(building.type)">
            {{ 'Common.StakeKing' }}
          </button>
          <button *ngIf="building.upgrading && canCompleteKingStake" mat-raised-button class="btn btn-secondary w-100"
                  (click)="onClickClaimStakeKing()">
            {{ 'Common.Claim' }}
          </button>
          <button mat-raised-button class="btn btn-secondary w-100" (click)="onSomethin(building.type)">
            {{ 'Common.Something' }}
          </button>
        </div>
      </div>
    </div>
    <!--    <img src="assets/Village/village_background.png" alt="village" class="village-view">-->
  </div>
  <ng-template #landNotSelectedBlock>
    <div class="lands-display">
      <app-select-land *ngFor="let land of lands" [land]="land" (selectedLand)="onSelect($event)"></app-select-land>
    </div>
  </ng-template>
</ng-template>
