<ng-template [ngIf]="!isInitializing" [ngIfElse]="initializing">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{'Vault.KingVault' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'Vault.ClaimYourKingRewards' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{'Vault.Description' | translate}}</p>
      <div>
        <p>{{'Vault.TotalAvailable' | translate}}: {{totalKingInVault?.toLocaleString()}}</p>
        <p>{{'Vault.Claimable' | translate}}: {{claimableKing?.toLocaleString()}}</p>
        <p>{{'Vault.AlreadyClaimed' | translate}}: {{claimedKing?.toLocaleString()}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-secondary w-100" (click)="onClickClaim()"
              [disabled]="isLoading || !claimableKing">
        <ng-container
          [ngTemplateOutlet]="isLoading ? loading : claimableKing ? claim : noKingToClaim"></ng-container>
        <ng-template #loading>
          <span class="flex items-center justify-center">
            <mat-progress-spinner mode="indeterminate" [diameter]="15"></mat-progress-spinner>
            {{'Common.Loading' | translate}}
          </span>
        </ng-template>
        <ng-template #claim>
          {{'Vault.ClaimKing' | translate}}
        </ng-template>
        <ng-template #noKingToClaim>
          {{'Vault.NoKingToClaim' | translate}}
        </ng-template>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #initializing>
  <div class="flex items-center justify-center h-full">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
