<div class="stake-tab">
  <div class="building-image-container">
    <img class="w-full" [src]="building.image" [alt]="getBuildingTypeName(building.type)">
  </div>
  <div class="staking-container">
    <p class="building-name">{{ getBuildingTypeName(building.type) }}</p>
    <span class="building-level">Level: {{ building.level }}</span>
    <p class="building-level">Max level: {{building.maxLevel}}</p>
    <div>
      <p class="building-requirements">Requirements: </p>
      <p class="secondary-text">Staking tier unlocked: (KING: {{ kingStakingTierRequired}})</p>
    </div>
    <div *ngIf="totalSkillStaked">
      <p class="building-requirements">Total staked:</p>
      <p class="secondary-text">{{totalSkillStaked}} SKILL</p>
    </div>
    <button mat-raised-button
            class="btn button-stake"
            [disabled]="isStakeInProgress || !meetsStakeRequirements"
            (click)="onStake()">
      <ng-container class="w-full"
        [ngTemplateOutlet]="isStakeInProgress ? stakeInProgress : meetsStakeRequirements ? stake : required"></ng-container>
      <ng-template #stakeInProgress>
        {{ timeLeft }}
      </ng-template>
      <ng-template #stake>
        Stake<span *ngIf="skillRequired"> ({{ skillRequired }} SKILL)</span>
      </ng-template>
      <ng-template #required>
        You need to unlock at least {{ kingStakingTierRequired}} KING staking tiers
      </ng-template>
    </button>
    <button *ngIf="canClaim" mat-raised-button class="btn button-stake" (click)="onClaim()">
      {{ 'Claim' }}
    </button>
    <div *ngIf="nextStakingTier">
      <p class="building-requirements">Next rewards/unlocks: </p>
      <p class="secondary-text">Rewards:
        <span *ngFor="let reward of nextStakingTier.rewards" class="flex items-center h-8">
              - {{reward.amount}} <img src="./assets/Placeholder/{{reward.type.toLowerCase()}}.png" class="px-1 w-8"
                                       [alt]="reward.type" [matTooltip]="reward.type"/>
        </span>
      </p>
      <p class="secondary-text">Unlocks:
        <span *ngFor="let unlock of nextStakingTier.unlocks" class="flex items-center h-8">
          - {{unlock.amount}} <img src="./assets/Placeholder/{{unlock.type.toLowerCase()}}.png" class="px-1 w-8"
                                   [alt]="unlock.type" [matTooltip]="unlock.type"/>
        </span>
      </p>
    </div>
  </div>
  <div class="flex-1">
    <app-staking-tiers-stepper [stakingTiers]="skillStakingTiers"
                               [unlockedTiers]="unlockedTiers!"></app-staking-tiers-stepper>
  </div>
</div>
