<div class="stake-tab">
  <div class="building-image-container">
    <img style="max-width: 100%; max-height: 100%;" [src]="building.image"
         [alt]="getBuildingTypeName(building.type)">
  </div>
  <div class="staking-container">
    <p class="building-name">{{ getBuildingTypeName(building.type) }}</p>
    <span class="building-level">Level: {{ building.level }}</span>
    <p class="building-level">Max level: {{building.maxLevel}}</p>
    <div>
      <p class="building-requirements">Requirements: </p>
      <p class="secondary-text">Total staked: (KING: 4)</p>
    </div>
    <div *ngIf="totalSkillStaked">
      <p class="building-requirements">Total staked:</p>
      <p class="secondary-text">{{totalSkillStaked}} SKILL</p>
    </div>
    <button mat-raised-button
            class="btn button-stake"
            (click)="onStake()">
      <ng-container
        [ngTemplateOutlet]="stake"></ng-container>
      <!--      <ng-template #upgradeInProgress>-->
      <!--        {{ timeLeft }}-->
      <!--      </ng-template>-->
      <ng-template #stake>
        Stake<span *ngIf="skillRequired"> ({{ skillRequired }} SKILL)</span>
      </ng-template>
    </button>
    <button *ngIf="canClaim" mat-raised-button class="btn button-stake" (click)="onClaim()">
      {{ 'Claim' }}
    </button>
  </div>
  <div class="flex-1">
    <app-staking-tiers-stepper [stakingTiers]="skillStakingTiers"
                               [unlockedTiers]="unlockedTiers!"></app-staking-tiers-stepper>
  </div>
</div>
