/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.building-dialog {
  mat-dialog-container {
    background-color: #0D142A;
    border: 1px solid #404857;
    border-radius: 10px;
  }
}
