<ng-container [ngSwitch]="land.tier">
  <div *ngSwitchCase="1">
    <img src="assets/Land/t1.png" class="w-64" alt="">
  </div>
  <div *ngSwitchCase="2">
    <img src="assets/Land/t2.png" class="w-64" alt="">
  </div>
  <div *ngSwitchCase="3">
    <img src="assets/Land/t3.png" class="w-64" alt="">
  </div>
  <div *ngSwitchDefault>
    <img src="assets/Land/t1.png" class="w-64" alt="">
  </div>
</ng-container>
<div class="p-3 text-white">
  <div>
    {{ 'Common.ID' }} : {{ land.id }}
  </div>
  <div>
    {{ 'Common.Tier'}} : {{ land.tier }}
  </div>
  <div>
    {{ 'Common.ChunkId'}} : {{ land.chunkID }}
  </div>
</div>
<button mat-raised-button class="btn btn-secondary w-100" (click)="onClickSelect()">
  {{ 'Common.Stake' }}
</button>
